<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haunted Tarot</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="header-title-container">
            <h1>Haunted Tarot</h1>
            <h4>Special thanks to <a href="https://www.youtube.com/watch?v=Bj6lC93JMi0">freeCodeCamp.org</a> and <a href="https://www.youtube.com/@GavinLon">Gavin Lon</a></h4>
            <h4>Inspiration from  <a href="https://www.kineticgames.co.uk/phasmophobia">Phasmophobia</a></h4>
        </div>
        <div class="header-button-container">
            <div class="game-play-button-container">
                <button id="playGame" class="play-game">Play Game</button>
            </div>
        </div>
    </header>
    <main>
        <div class="card-container">

        </div>
    </main>
    <script src="index.js"></script>
</body>
</html>